body {
  background-color: lightcyan;
  text-align: left;
  margin: 1em 1em 1em 1em;
}

.sidebar {
  float: right;
  font-size: 1em;
  text-align: left;
}

img.main_left {
  float: left;
  height: 12em;
  width: auto;
  padding: .2em;
}

img.main_right {
  float: right;
  height: 12em;
  width: auto;
  padding: .2em;
}

.center {
  text-align: center;
}

.border {
  margin: 1em;
  border: .3em solid red;
  padding: .3em;
  background-color: green;
}
